TG_TOKEN="Токен телеграмм бота"
PRIVATE_KEY_ID="key id гугл аккаунта указан в файле JSON"
PRIVATE_KEY="key гугл аккаунта указан в файле JSON"
CLIENT_ID="id клиента гугл аккаунта указан в файле JSON"
CLIENT_EMAIL="почта клиента гугл аккаунта указан в файле JSON"
SHEET_ID = "id листа таблицы копируется из части url"
SHEET_URL = "url листа таблицы копируется из адресной строки"
HEROKU_URL = "URL проекта на сервере HEROKU"
CLIENT_SER_URL = "сертификат клиента гугл аккаунта указан в файле JSON"
PROJECT_ID = "название проекта в гугл аккаунте указан в файле JSON"